body {
    background: #000;
    color: #fff;
    width: 960px;
    font-family: 'Ubuntu Mono';
    font-size: 16px;
}

#header {
    font-family: 'Fredericka the Great', cursive;
    font-size: 48px;
    text-align: center;
    width: 480px;
    margin: 0 auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;

}



#tagline {
    font-family: 'Ubuntu Mono';
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    color: #fff;
    width: 500px;
    margin-left: 240px;
    font-size: 14px;
    font-weight: bold;
}

#quick-links {
    width: 450px;
    margin: 0 auto;
}

#quick-links ul li {
    font-family: 'Ubuntu Mono';
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    background: #0c210c;
    color: #fff;
    display: inline;
    font-size: 16px;


}

#summary {
    font-family: 'Ubuntu Mono';
    margin: 0 auto;
    width: 60%;
    text-align: left;
    font-size: 18px;
}

hr {
    width: 60%;
    color: #009900;

}

a {
    text-decoration: none;
    color: #ff8c00;

}

#my-tweets {
    width: 600px;
    margin: 0 auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    padding: 5px;
}

.label {
    font-family: 'Ubuntu Mono';
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    background: #0c210c;
    color: #fff;
    display: inline;
    font-size: 18px;
    margin-left: 175px;

}

#about-me, #community, #talks, #contact {
    width: 600px;
    margin: 0 auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    color: #0c210c;
    padding: 10px;
}

#community a, #talks a {
    color: #8b0000;
    font-weight: bold;
}

#community ul li, #talks ul li {
    margin-bottom:10px;
}